<div class="container preview-body">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2 logo-preview">
                    <img src="./assets/params/images/logo/guzogo_icon.png" width="100" height="65" alt="">
                </div>
                <div class="col-md-9">
                    <div class="logo-sub-box">
                        <span class="guzogo-logo-text">Guzogo Flight Ticket</span>
                    </div>
                </div>
            </div>
            <div class="row pnr-label-box">
                <div class="col-md-2 offset-md-10">
                    <span class="pnr-label-1">PNR</span><span class="pnr-value-1">A1B2C3</span>
                </div>
            </div>
            <div class="row ticket-box">
                <div class="col-md-8">
                    <table id="print-section" class="table ticket-table">
                        <thead>
                          <tr>
                            <th scope="col">Passengers</th>
                            <th scope="col">Ticket Number</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Mikiyas Belayneh Maru</td>
                            <td>121212121212212</td>
                          </tr>
                          <tr>
                            <td>Mikiyas Belayneh Maru</td>
                            <td>121212121212212</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div> 
            <div class="card segment-card">
                <div class="card-body">
                     <div class="row">
                         <div class="col-md-3">
                            <img src="./assets/params/images/logo/ethiopian_icon.png" width="137" height="57" alt=""><br>
                            <div class="airline-name-box">
                                <span class="airline-name">Ethiopian Airlines</span>
                            </div>
                         </div>
                         <div class="col-md-2 flight-info-box">
                             <div>
                                <span class="location-info">Addis Ababa(ADD)</span>
                             </div>
                             <div>
                                <span class="time-info">2:20</span>
                             </div>
                             <div>
                                <span class="time-info-1">April 20, 2019</span>
                             </div>                             
                         </div>
                         <div class="col-md-1 flight-info-box">
                             <div class="plane-box">
                                <i class="fa fa-plane plan-icon"></i>
                             </div>                           
                         </div>
                         <div class="col-md-2 flight-info-box">
                            <div>
                                <span class="location-info">Addis Ababa(ADD)</span>
                             </div>
                             <div>
                                <span class="time-info">2:20</span>
                             </div>
                             <div>
                                <span class="time-info-1">April 20, 2019</span>
                             </div>
                        </div>
                     </div>
                     <div class="row">
                         <div class="col-md-12 segment-box">
                             <span class="segment-text">TRANSIT TIME - 2h 29m</span>
                         </div>
                     </div>
                     <div class="row">
                        <div class="col-md-3">
                           <img src="./assets/params/images/logo/ethiopian_icon.png" width="137" height="57" alt=""><br>
                           <div class="airline-name-box">
                               <span class="airline-name">Ethiopian Airlines</span>
                           </div>
                        </div>
                        <div class="col-md-2 flight-info-box">
                            <div>
                               <span class="location-info">Addis Ababa(ADD)</span>
                            </div>
                            <div>
                               <span class="time-info">2:20</span>
                            </div>
                            <div>
                               <span class="time-info-1">April 20, 2019</span>
                            </div>                             
                        </div>
                        <div class="col-md-1 flight-info-box">
                            <div class="plane-box">
                               <i class="fa fa-plane plan-icon"></i>
                            </div>                           
                        </div>
                        <div class="col-md-2 flight-info-box">
                           <div>
                               <span class="location-info">Addis Ababa(ADD)</span>
                            </div>
                            <div>
                               <span class="time-info">2:20</span>
                            </div>
                            <div>
                               <span class="time-info-1">April 20, 2019</span>
                            </div>
                       </div>
                    </div>
                </div>
            </div>  

            <div class="card segment-card">
                <div class="card-body">
                     <div class="row">
                         <div class="col-md-3">
                            <img src="./assets/params/images/logo/ethiopian_icon.png" width="137" height="57" alt=""><br>
                            <div class="airline-name-box">
                                <span class="airline-name">Ethiopian Airlines</span>
                            </div>
                         </div>
                         <div class="col-md-2 flight-info-box">
                             <div>
                                <span class="location-info">Addis Ababa(ADD)</span>
                             </div>
                             <div>
                                <span class="time-info">2:20</span>
                             </div>
                             <div>
                                <span class="time-info-1">April 20, 2019</span>
                             </div>                             
                         </div>
                         <div class="col-md-1 flight-info-box">
                             <div class="plane-box">
                                <i class="fa fa-plane plan-icon"></i>
                             </div>                           
                         </div>
                         <div class="col-md-2 flight-info-box">
                            <div>
                                <span class="location-info">Addis Ababa(ADD)</span>
                             </div>
                             <div>
                                <span class="time-info">2:20</span>
                             </div>
                             <div>
                                <span class="time-info-1">April 20, 2019</span>
                             </div>
                        </div>
                     </div>
                     <div class="row">
                         <div class="col-md-12 segment-box">
                             <span class="segment-text">TRANSIT TIME - 2h 29m</span>
                         </div>
                     </div>
                     <div class="row">
                        <div class="col-md-3">
                           <img src="./assets/params/images/logo/ethiopian_icon.png" width="137" height="57" alt=""><br>
                           <div class="airline-name-box">
                               <span class="airline-name">Ethiopian Airlines</span>
                           </div>
                        </div>
                        <div class="col-md-2 flight-info-box">
                            <div>
                               <span class="location-info">Addis Ababa(ADD)</span>
                            </div>
                            <div>
                               <span class="time-info">2:20</span>
                            </div>
                            <div>
                               <span class="time-info-1">April 20, 2019</span>
                            </div>                             
                        </div>
                        <div class="col-md-1 flight-info-box">
                            <div class="plane-box">
                               <i class="fa fa-plane plan-icon"></i>
                            </div>                           
                        </div>
                        <div class="col-md-2 flight-info-box">
                           <div>
                               <span class="location-info">Addis Ababa(ADD)</span>
                            </div>
                            <div>
                               <span class="time-info">2:20</span>
                            </div>
                            <div>
                               <span class="time-info-1">April 20, 2019</span>
                            </div>
                       </div>
                    </div>
                </div>
            </div>  
            <div class="row">
                <div class="col-md-12">
                    <i class="fa fa-question-circle help-icon"></i><span class="help-text">Please click Ctrl+P to print this page</span>
                </div>
            </div>
        </div>
    </div>
</div>
