<header>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark custom-nav" style="background-color: #131C66;">
        <div class="container">
        <a class="navbar-brand" href="#">
            <img src="./assets/params/images/logo/guzo_logo.png" width="60" height="60" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1" checked>PNR</mat-radio-button>
                <mat-radio-button value="2">Name</mat-radio-button>
                <mat-radio-button value="3">Ticket Number</mat-radio-button>
                </mat-radio-group>
                <input class="form-control custom-input" type="text" placeholder="Search">
            </li>          
            </ul>
        </div>
        </div>      
    </nav> 
    <div class="container">
        <div class="container-fluid row  container-fluid-custom">
        <div class="label-box"><span class="label-text">Hello Gezachew Ayenew</span></div>
        <div class="splider"></div>
        <div><span class="label-text">Logout</span><i class="fa fa-power-off power-off-custom"></i></div>
        </div>
    </div>
</header>

<div class="container whole-artboard-page">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="label-box">
                        <img src="../assets/params/images/logo/airline_front.png" class="flight-labels-img" width="40" height="40" alt="">
                        <span class="flight-labels">Flights Itinerary</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card selected-fligh-card">
                        <div class="card-body">
                            <div class="row location-name-row">
                                <div class="col-md-4 offset-md-1">
                                    <span class="fligh-location-name">Addis Ababa(ADD)</span>
                                </div>
                                <div class="col-md-2">
                                    <img src="https://pics.avs.io/200/50/KP.png" class="img-fluid mx-auto d-block" alt="img1">
                                </div>
                                <div class="col-md-4">
                                    <span class="right-texts fligh-location-name">Bahir Dar (BJR)</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-1">
                                    <span class="flight-times-1">2:00</span>
                                </div>
                                <div class="col-md-2">                            
                                </div>
                                <div class="col-md-4">
                                    <span class="right-texts flight-times-2">2:00</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-1">
                                    <span class="flight-dates-1">April 20, 2019</span>
                                </div>
                                <div class="col-md-2 justify-text-center"> 
                                    <span>Class:T</span>                           
                                </div>
                                <div class="col-md-4">
                                    <span class="right-texts flight-dates-2">April 20, 2019</span>
                                </div>
                            </div>
                            <div class="row direct-box">
                                <div class="col-md-4 offset-md-1">
                                    <span class="direct-text">Direct</span>
                                </div>
                                <div class="col-md-2"> 
                                    <span></span>                           
                                </div>
                                <div class="col-md-4">
                                    <span class="right-texts direct-text">Status:Not Booked</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card selected-fligh-card">
                        <div class="card-body">
                            <div class="row location-name-row">
                                <div class="col-md-4 offset-md-1">
                                    <span class="fligh-location-name">Addis Ababa(ADD)</span>
                                </div>
                                <div class="col-md-2">
                                    <img src="https://pics.avs.io/200/50/KP.png" class="img-fluid mx-auto d-block" alt="img1">
                                </div>
                                <div class="col-md-4">
                                    <span class="right-texts fligh-location-name">Bahir Dar (BJR)</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-1">
                                    <span class="flight-times-1">2:00</span>
                                </div>
                                <div class="col-md-2">                            
                                </div>
                                <div class="col-md-4">
                                    <span class="right-texts flight-times-2">2:00</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-1">
                                    <span class="flight-dates-1">April 20, 2019</span>
                                </div>
                                <div class="col-md-2 justify-text-center"> 
                                    <span>Class:T</span>                           
                                </div>
                                <div class="col-md-4">
                                    <span class="right-texts flight-dates-2">April 20, 2019</span>
                                </div>
                            </div>
                            <div class="row direct-box">
                                <div class="col-md-4 offset-md-1">
                                    <span class="direct-text">Direct</span>
                                </div>
                                <div class="col-md-2"> 
                                    <span></span>                           
                                </div>
                                <div class="col-md-4">
                                    <span class="right-texts direct-text">Status:Not Booked</span>
                                </div>
                            </div>
                        </div>
                    </div>
        
                              
                </div>
            </div> 
        </div>
    </div>    
    <div class="row fare-rule-box">
        <div class="col-md-2">
            <span class="fare-rule-box-text">Fare Rule</span>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">   
                    <div class="row passenger-detail-box">
                        <div class="col-md-12">                            
                            <div class="label-box">
                                <img src="../assets/params/images/logo/passenger_baggage.png" class="flight-labels-img" width="40" height="40" alt="">
                                <span class="flight-labels">Passenger Detail</span>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bottom-line"></div>
                        </div>
                    </div>
                    <div class="card card-custom">
                        <div class="card-body">
                            <div class="row passenger-detail-group-box">
                                <div class="col-md-12"><span class="adult-label">Adult</span></div>
                            </div>  
                            <div class="row">
                                <div class="col-md-12">
                                    <form>
                                        <div class="form-row">
                                          <div class="form-group col-md-6">
                                            <label for="inputFirst" class="form-label">First Name</label>
                                            <input type="text" class="form-control input-size" id="inputFirst" placeholder="First name">
                                          </div>
                                          <div class="form-group col-md-6">
                                            <label for="inputMiddle" class="form-label">Middle Name</label>
                                            <input type="text" class="form-control input-size" id="inputMiddle" placeholder="Middle name">
                                          </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                              <label for="inputLast" class="form-label">Last Name</label>
                                              <input type="text" class="form-control input-size" id="inputLast" placeholder="Last Name">
                                            </div>
                                            <div class="form-group col-md-6">
                                              <label for="inputPhone" class="form-label">Phone</label>
                                              <input type="text" class="form-control input-size" id="inputPassword4" placeholder="inputPhone">
                                            </div>
                                          </div>
                                          <div class="form-row">
                                            <div class="form-group col-md-6">
                                              <label for="inputEmail4" class="form-label">Email</label>
                                              <input type="email" class="form-control input-size" id="inputEmail4" placeholder="Email">
                                            </div>
                                            <div class="form-group col-md-6">
                                              <label for="inputBirthday" class="form-label">Birth Date</label>
                                              <input type="text" class="form-control input-size" id="inputBirthday" placeholder="Birth Date">
                                            </div>
                                          </div>
                                        <div class="form-row">
                                          <div class="form-group col-md-6">
                                            <label for="inputDocumentType" class="form-label">Nationality</label>
                                            <select id="inputDocumentType" class="form-control input-size">
                                                <option selected>Choose...</option>
                                                <option>...</option>
                                            </select>
                                          </div>
                                          <div class="form-group col-md-4">
                                            <label for="inputState" class="form-label">Gender</label>
                                            <select id="inputState" class="form-control">
                                              <option selected>Choose...</option>
                                              <option>...</option>
                                            </select>
                                          </div>                                  
                                        </div>
                                        <div class="form-row d-flex flex-row divider">
                                            <div class="divider-line d-flex flex-row"></div>
                                            <span *ngIf="collapse" class="close-btn d-flex flex-row" (click)="expand()"><i class="fa fa-angle-up"></i></span>
                                            <span *ngIf="!collapse" class="close-btn d-flex flex-row" (click)="expand()"><i class="fa fa-angle-down"></i></span>
                                        </div>
                                        <div *ngIf="collapse" class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputDocumentType" class="form-label">Document Type</label>
                                                <select id="inputDocumentType" class="form-control input-size">
                                                  <option selected>Choose...</option>
                                                  <option>...</option>
                                                </select>
                                              </div>
                                            <div class="form-group col-md-6" class="form-label">
                                              <label for="inputDocumentNumber">Document Number</label>
                                              <input type="text" class="form-control" id="inputDocumentNumber">
                                            </div>                                                                      
                                        </div>
                                        <div *ngIf="collapse" class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputDocumentCountry" class="form-label">Document Issue Country</label>
                                                <select id="inputDocumentCountry" class="form-control input-size">
                                                  <option selected>Choose...</option>
                                                  <option>...</option>
                                                </select>
                                              </div>
                                            <div class="form-group col-md-6">
                                              <label for="inputExpireDate" class="form-label">Expiration Date</label>
                                              <input type="text" class="form-control input-size" id="inputExpireDate">
                                            </div>                                                                      
                                        </div>
                                      </form>
                                </div>
                            </div>  
                        </div>
                    </div>                       
                </div>
            </div> 
        </div>
    </div>  
    <div class="card seat-selection-box">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="label-box">
                        <img src="../assets/params/images/logo/seatselect.png" class="flight-labels-img" width="40" height="40" alt="">
                        <span class="flight-labels">Seat Selection</span>
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="card card-custom">
                    <div class="card-body">
                        <table class="table table-borderless custom-table">
                            <thead class="seat-table-header">
                              <tr>
                                <th scope="col">Passenger</th>
                                <th scope="col">Seat</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody class="seat-table-body">
                              <tr>
                                <td>Mikiyas Belayneh Maru</td>
                                <td>---</td>
                                <td><a class="btn choose-seat" routerLink="/seat">Choose Seat</a></td>
                              </tr>
                              <tr>
                                <td>Mikiyas Belayneh Maru</td>
                                <td>24-E</td>
                                <td><button class="btn change-seat">Change</button></td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="card condition-box">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="label-box">
                        <img src="../assets/params/images/logo/general.png" class="flight-labels-img" width="40" height="40" alt="">
                        <span class="flight-labels">General Condition</span>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="card accept-card">
                    <div class="card-body">
                        <div class="row accept-title-box">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-11">
                                        <span class="accept-title">Acceptance of the General Condtions</span>
                                    </div>                                   
                                    <div class="col-md-1">
                                        <i class="fa fa-arrow-circle-down accept-title"></i>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <i class="fa fa-check-square accept-title"></i>
                            </div>
                            <div class="col-md-11">
                                <span class="accept-content">I've confirmed the itineraries and airports of teh reservation. They are correct.</span>
                                <br>

                                <span class="accept-content">I'v read and accepted the Termos of Use of this service and accept payment</span>
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row book-button-box">
                <div class="col-md-3 offset-md-7">
                    <a class="btn book-button" routerLink="/success">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
