.login-container {
    padding-top: 150px;
}
.custom-logo-box {
    text-align: center;
    margin-top: 40px;
}
.login-label-box {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.logon-label {
    color: #1E1C66;
    font-size: 20px;
    font-weight: bold;
}
.login-input {
    width: 100%;
    background: #F1F2F6;
}
.login-input-box {
    margin-top: 10px;
}
.login-btn-box {
    text-align: center;
    margin-top: 20px;
}
.login-btn {
    background: #1E1C66;
    width: 180px;
    color: #ffffff;
    font-weight: bold;
}
.login-bottom-logo-box {
    text-align: end;
}