<div class="container login-container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 offset-md-4 custom-logo-box">
                    <img src="./assets/params/images/logo/guzogo_icon.png" width="130" height="80" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-4 login-label-box">
                    <span class="logon-label">GuzoGo Portal Login</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-4 login-input-box">
                    <div class="form-group login-btn-box">
                        <input type="text" class="form-control login-input" placeholder="Type Email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-4 login-input-box">
                    <div class="form-group login-btn-box">
                        <input type="password" class="form-control login-input" placeholder="Type Password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="form-group login-btn-box">
                        <a class="btn login-btn" routerLink="/">Login</a>                      
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="./assets/params/images/logo/backgound_plane.png" width="230" height="130" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-8 login-bottom-logo-box">
                    <img src="./assets/params/images/logo/checkout_image.png" width="150" height="90" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
